<div class="body">
    <div class="login">
        <mat-spinner class="spinner" diameter= "50" *ngIf="loading"></mat-spinner>

        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="doSubmit()">
            <img src="./assets/img/man.png" width="50%" />
            <h1>Forgot Password</h1>
            <mat-form-field class="inputU" appearance="fill">
                <mat-label>Loginname</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="loginname">
            </mat-form-field>
            
            <button type="submit" class="inputU" mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
        </form>

        <div class="link">
            You have been account? <a routerLink='/login'>Login</a>
        </div>
    </div>
</div>
  