@import '~@angular/material/theming';


@include mat-core();

$accent:  mat-palette($mat-deep-orange, 500, A100, A400);
$warn:    mat-palette($mat-red, 600);

$theme: mat-light-theme($accent, $warn);

.list-item-active {
  font-weight: bold;
  color: mat-color($accent, darker) !important;
}