<mat-toolbar>
  <div class="search">
    <span class="material-icons"> search </span>
    <mat-form-field
      appearance="standard"
      class="searchForm"
      [style.fontSize.px]="14"
    >
      <mat-label>Search</mat-label>
      <input
        [(ngModel)]="inputSearch"
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Search"
        #input
      />
    </mat-form-field>
    <mat-select
      [(ngModel)]="selectedValue"
      name="fieldSearch"
      class="fieldSearch"
    >
      <mat-option
        #matOption
        *ngFor="let item of field"
        [value]="item.value"
        (click)="change(matOption)"
      >
        {{ item.viewValue }}
      </mat-option>
    </mat-select>
  </div>
  <span class="example-spacer"></span>
  <div class="demo-button">
    <button
      mat-raised-button
      [routerLink]="['/dashboard/newserver']"
      class="demo-button"
    >
      Add data
    </button>
    <button mat-raised-button class="demo-button" [matMenuTriggerFor]="export">
      Export Excel
    </button>
    <mat-menu #export="matMenu">
      <button mat-menu-item (click)="exportPageX()">
        <mat-icon>download</mat-icon>
        <span>Export Page </span>
      </button>
      <button mat-menu-item (click)="exportAllX()">
        <mat-icon>file_download</mat-icon>
        <span>Export All Page</span>
      </button>
    </mat-menu>
    <button
      mat-raised-button
      class="demo-button"
      [matMenuTriggerFor]="menuShowHide"
    >
      Hide/Show
    </button>
    <mat-menu #menuShowHide="matMenu">
      <span
        (click)="$event.stopPropagation()"
        *ngFor="let column of columnShowHideList; index as i"
        class="ShowHide"
      >
        <mat-slide-toggle
          [(ngModel)]="column.isActive"
          (change)="toggleColumn(column)"
          class="togge"
        >
        </mat-slide-toggle>
        {{ column.nameCol }}
        <br />
      </span>
    </mat-menu>
  </div>
</mat-toolbar>
<div class="mat-elevation-z5 demo-table">
  <table
    mat-table
    [dataSource]="dataSource"
    class="tablel"
    matSort
    multiTemplateDataRows
  >
    <ng-container matColumnDef="idServer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.idServer }}</td>
    </ng-container>
    <ng-container matColumnDef="serverName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Server Name</th>
      <td mat-cell *matCellDef="let element">{{ element.serverName }}</td>
    </ng-container>
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef>Password</th>
      <td mat-cell *matCellDef="let element">{{ element.password }}</td>
    </ng-container>
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>
    <ng-container matColumnDef="ip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ip</th>
      <td mat-cell *matCellDef="let element">{{ element.ip }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <ng-container matColumnDef="operation">
      <th mat-header-cell *matHeaderCellDef>Operation</th>
      <td mat-cell *matCellDef="let element">
        <button
          
          mat-icon-button
          matTooltip="Click to View"
          class="iconbutton"
          color="accent"
          (click)="details(element)"
        >
          <mat-icon aria-label="View">visibility</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Click to Edit"
          class="iconbutton"
          color="primary"
          (click)="openEdit(element)"
        >
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Click to Delete"
          class="iconbutton"
          color="warn"
          (click)="removeData(element)"
        >
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="changePass(element)">
            <mat-icon>published_with_changes</mat-icon>
            <span>Change Password</span>
          </button>
          <button mat-menu-item (click)="connect(element)">
            <mat-icon>link</mat-icon>
            <span>Connect</span>
          </button>
          <button mat-menu-item (click)="disconnect(element)">
            <mat-icon>link_off</mat-icon>
            <span>Disconnect</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <!-- toggle description -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="displayedColumns.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div class="example-element-description">
            <span class="example-element-description-attribution">
              Description: {{ element.description }}
            </span>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: displayedColumns"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    >
      >
    </tr>

    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
    <tr class="mat-row nodata" *matNoDataRow>
      <td class="mat-cell" colspan="6">No data</td>
    </tr>
  </table>
  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="limitPage"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="numberPage"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
