.body {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: #f5f5f5;
}

.login {
  width: 100%;
  max-width: 430px;
  text-align: center;
}

.inputU {
  width: 80%;
}

button {
  height: 45px;
}

.spinner {
  margin: 0 auto;
}

.message {
  margin-bottom: 20px;
  font-size: 16px;
}