<form class="formclass" [formGroup]="form">
    <h1 mat-dialog-title>Change Role</h1>
    <table class="table">
     
      <tr>
        <td><h4>Role</h4></td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <mat-select [formControl]="selectRole">
              <mat-option *ngFor="let item of listRole" [value]="item.value">{{
                item.roleName
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td><h4>Permission All</h4></td>
        <td>
          <mat-radio-group aria-label="Select an option" [(ngModel)] = "permissionAll" [ngModelOptions]="{standalone: true}">
            <mat-radio-button value="1">True</mat-radio-button>
            <mat-radio-button value="2">False</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr *ngIf="selectRole.value == 'staff'">
        <td><h4>Action</h4></td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Action</mat-label>
            <mat-select [formControl]="permissions" multiple >
              <mat-option *ngFor="let item of listAction" [value]="item.value">{{item.actionName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div mat-dialog-content class="action">
      <button type="button" mat-button (click)="onNoClick()">Cancel</button>
      <button
        (click)="complete()"
        mat-button
        [disabled]="form.invalid"
        cdkFocusInitial
      >
        Submit
      </button>
    </div>
  </form>
  